body {
    margin: 0;
    padding: 0;
}
body * {
    font-family: Arial, Helvetica, sans-serif;
}

.no-padding {
    margin:0;
    padding-left: 0 !important;
    max-width: 90px !important;
    height:100%;
}

.sidebar {
    position: fixed; /* Fixed position relative to the viewport */
    top: 0;
    left: 0;
    right:0;
    width: 90px; /* Sidebar width */
    padding-left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
}

.courses-sidebar {
    position: sticky;
    top: 40px;
    width: 180px; /* Sidebar width */
    padding-left: 10px;
    padding-right: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    margin:0;
    height:calc(100% - 40px);
}