body {
    margin: 0;
    padding: 0;
}

body * {
    font-family: Arial, Helvetica, sans-serif;
}

.no-padding {
    margin:0;
    padding-left: 0 !important;
    max-width: 90px !important;
    height:100%;
}

.sidebar {
    position: fixed; /* Fixed position relative to the viewport */
    top: 0;
    left: 0;
    right:0;
    width: 90px; /* Sidebar width */
    padding-left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    height: 100%;
}

.courses-sidebar {
    position: fixed;
    top: 60px;
    width: 180px; /* Sidebar width */
    padding-left: 10px;
    padding-right: 20px;
    margin-right: 45px;
    overflow-x: hidden;
    overflow-y: auto;
    flex-grow: 1;
    height:calc(100% - 60px);
}

.main-content{
    padding-left: 120px;
}


.courses-sidebar.scrolled {
    top: 0; /* Stick to the top of the viewport */
    height: 100vh;
}
