.wd-courses-home-modules .wd-modules, .wd-courses-home-modules .wd-modules * {
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.wd-courses-home-modules .wd-modules {
    margin: 5px;
}


.wd-courses-home-modules .wd-modules > li {
    background-color: lightgray;
    border: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    margin-bottom: 20px;
    /*border-left: none;*/
    align-items: center;
}

.wd-courses-home-modules .wd-modules > li > i {
    padding-left: 6px;
    padding-right: 10px;
    /*border-left: 1px solid gray;*/
}



.wd-courses-home-modules .wd-modules > li > ul > li {
    padding: 5px;
    background: white;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 3px solid #3c804e;
}

.wd-courses-home-modules .wd-home-links{
    color: #c13232;
}

.wd-courses-home-modules .float-end {
    float: right;
    margin-right: 10px;
    padding-left: 5px;
}

.wd-courses-home-modules .float-end .fa {
    color: #3c804e;
    padding-left: 10px;
}

.wd-courses-home-modules .wd-modules > li > ul {
    padding-left: 5px;
    padding-bottom: 5px;
}

.wd-courses-home-modules .wd-modules > li > ul > li > ul {
    padding-left: 25px;
}

.wd-courses-home-modules .wd-modules > li > ul > li > ul > li > ul {
    padding-left: 45px;
    padding-bottom: 10px;
}