.wd-courses-grades .grades-btn-set button{
    padding: 5px 10px;
    margin: 0.5em 1em;
    color: #1a1d20;
    border-color: #2d3740;
    background-color: #f3f3f3;
}

.wd-courses-grades .student-name{
    color: darkred;
    font-size: larger;
}

.wd-courses-grades .filter-height{
    height:10px;
}

.wd-courses-grades .wd-align-left{
    margin-left: 0;
}

.wd-courses-grades-screen .main-content{
    position:sticky;
    top: 40px;
    height:calc(100% - 40px);
}